body {
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container {
    padding: 8px;
    background-color: white;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.container .box { /* USE PARA 3 ITENS POR VEZ */
    display: flex;
    gap: inherit;
    width: max-content;
}

.box div {
    max-width: 120px;
    width: fit-content;
}

.box div.bloco {
    width: 120px;
}

.box div.legenda {
    width: 120px;
}

.box div input[type=range] {
    width: 100%;
}

h1 {
    width: 100%;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 4px;
    text-align: center;
}

.bloco {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.translucido {
    opacity: 0.5;
}

.white {
    border: 1px solid black;
    box-sizing: border-box;
}

.legenda {
    width: 120px;
    margin: auto 0;
    letter-spacing: -2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legenda p {
    margin: 4px;
    margin-bottom: 0
}

.slides {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 120px;
}

input[type=range] {
    max-width: 120px;
}

.slides div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slide {
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 10px;
    border-radius: 3px;
    transition: 0.3s;
}
.slide::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    transition: 0.3s;
    background-color: rgb(83, 83, 83);
}
.slide::-webkit-slider-thumb:hover {
    background-color: rgb(54, 54, 54);
}
.slide_desc {
    font-size: 12px;
    padding: 2px;
    border: 1px black solid;
    box-sizing: border-box;
}
    
.redSlide { background-color: rgba(255, 0, 0, 0.5); }
.redSlide:focus { background-color: rgba(255, 0, 0, 0.7); }

.greenSlide { background-color: rgba(0, 255, 0, 0.5); }
.greenSlide:focus { background-color: rgba(0, 255, 0, 0.7); }

.blueSlide { background-color: rgba(0, 0, 255, 0.5); }
.blueSlide:hover { background-color: rgba(0, 0, 255, 0.7); }

.lightGoldSlide { background-color: rgba(255, 213, 96, 0.5); }
.lightGoldSlide:hover { background-color: rgba(255, 213, 96, 0.7); }

.silverSlide { background-color: rgba(228, 254, 255, 0.5); }
.silverSlide:hover { background-color: rgba(228, 254, 255, 0.7); }