body {
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin: 16px 0;
    padding: 8px;
    background-color: white;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.bloco {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.translucido {
    opacity: 0.5;
}

.white {
    border: 1px solid black;
    box-sizing: border-box;
}

.legenda {
    width: 120px;
    margin: auto 0;
    letter-spacing: -2px;
}

.slides {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slides div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
    
/* .red, .green, .blue, .black {
    color: white;
} */